@page "/{language?}"
@using prismic
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Logging
@inject ILogger<Index> logger
@inject IPrismicApiAccessor accessor
@inject DocumentLinkResolver resolver
@inject NavigationManager Nav

@if (doc == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)doc.GetHtml("simple_page.title", resolver))
    @((MarkupString)doc.GetHtml("simple_page.body", resolver))
}

@code {

    [Parameter]
    public string Language { get; set; }

    Document doc;
    protected override async Task OnInitializedAsync(){
        
        if(string.IsNullOrEmpty(this.Language))
        {
            Language = "en-US";
            Nav.NavigateTo(Language, forceLoad: true);
        }

        var api = await accessor.GetApi();
        doc = await api.GetByUID("simple_page", "page_1", lang: this.Language);
    }
}