@page "/product/{uuid}"
@using prismic
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Logging
@inject ILogger<Index> logger
@inject IPrismicApiAccessor accessor
@inject DocumentLinkResolver resolver

@if (doc == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)doc.GetHtml("produc.product_name", resolver))
    @((MarkupString)doc.GetHtml("produc.product_description", resolver))
}

@code {
     [Parameter]
    public string Uuid { get; set; }

    Document doc;
    protected override async Task OnInitializedAsync(){
    }

    protected override async Task OnParametersSetAsync()
    {
        var api = await accessor.GetApi();
        doc = await api.GetByUID("produc", this.Uuid);
    }
}