@page "/{language}/test"
@page "/{language}/test/{*pageRoute}"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject NotificationService NotificationService

<p>
    PageRoute: @PageRoute
</p>

<p>Environment: @HostEnvironment.Environment</p>

<RadzenButton Text="Show info notification" Style="margin-bottom: 20px; width: 200px"
              ButtonStyle="ButtonStyle.Info"
              Click=@(args => ShowNotification("test " + args.OffsetX )) />

<RadzenButton Text="Show info notification" Style="margin-bottom: 20px; width: 200px"
              ButtonStyle="ButtonStyle.Info"
              Click=@Error />

@code {
    [Parameter]
    public string PageRoute { get; set; }

    [Parameter]
    public string Language { get; set; }

    void ShowNotification(string text)
    {
        var message = new NotificationMessage();
        message.Detail = text;
        message.Style = "Info";
        NotificationService.Notify(message);
    }

    void Error()
    {
        throw new Exception("Test");
    }
}
