<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if(pages == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var item in pages)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@item.Url" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> @item.Name
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<MenuItem> pages;
    
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        pages = new List<MenuItem>();
        pages.Add(new  MenuItem("Home", ""));
        pages.Add(new  MenuItem("Counter", "Counter"));
        pages.Add(new  MenuItem("Fetch data", "fetchdata"));
        pages.Add(new  MenuItem("Todo", "todo"));
        pages.Add(new  MenuItem("Test", "Test"));
        pages.Add(new  MenuItem("Form", "form"));
        pages.Add(new  MenuItem("Test1", "test1"));
    }

    public class MenuItem
    {
        public MenuItem(string name, string url)
        {
            this.Name = name;
            this.Url = url;
        }
        public string Name { get; set; }
        public string Url { get; set; }
    }    

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
